
@{
    ViewBag.Title = "Chi tiết bài đăng";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";




}
@using WebSite_DKTKViecLam.Models;
@model BAIDANG

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link href="~/bootstrap/css/nopcv_hieuung.css" rel="stylesheet" />
<link href="~/bootstrap/css/button_hieuung.css" rel="stylesheet" />
<font face="Verdana"<a class="text-center"><h1><b>CHI TIẾT BÀI ĐĂNG</b></h1></a></font>
<div class="container">

    @*@if(Model == null)
        {

        }*@





    <div class="row">
        <div class="text-center"><h1><b>@Model.TenBD</b></h1></div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3><b style="color:red">Doanh nghiệp: </b><span><b>@Model.DOANHNGHIEP.TenDN</b></span></h3><br /><br />
            <h3><b style="color:red">Địa chỉ Doanh nghiệp: </b><span>@Model.DOANHNGHIEP.Diachi</span></h3><br />
        </div>
        <div class="col-2">
            <a href="/UngVien/DangNhapUV">
                <center><button class="codepro-custom-btn codepro-btn-13 glowing-text"><span>REPORT </span></button></center>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <span> <img src="~/HinhAnhBaiDang/@Model.LOAICONGVIEC.Anh_Cviec" style="height:auto;width:100%"></span>
        </div>
        <div class="col-6" style="font-family: Tahoma; font-size: 19px ">
            <b style="color:red">Loại công việc: </b><span>@Model.LOAICONGVIEC.Tenloai</span><br /><br />
            <b style="color:red">Mô tả công việc: </b><span>@Model.Mota</span><br /><br />
            <b style="color:red">Phúc lợi: </b><span>@Model.Phucloi</span><br /><br />
            <b style="color:red">Vị trí: </b><span>@Model.Vitri</span><br /><br />
            <b style="color:red">Kinh nghiệm: </b><span>@Model.Kinhnghiem</span><br /><br />
            <b style="color:red">Độ tuổi làm việc: </b><span>@Model.Dotuoilamviec</span><br /><br />
            <b style="color:red">Yêu cầu công việc: </b><span>@Model.Yeucau</span><br /><br />
            <b style="color:red">Ngày đăng bài: </b><span>@Model.Ngaydangbai</span><br /><br />
        </div>
    </div>
    <div class="row" style="background-color:lightyellow">
        <div class="col-6">
            <h3><b style="color:red">Mức lương: </b><span>@Model.Mucluong</span></h3>
        </div>
    </div>
    <div class="row" style="padding-bottom:30px">
        @*<div class="col-4"></div>
            <div class="col-8">*@
        <a href="/Home/UngTuyen_Home"><button class="btncv" style="height:70px;width:400px; color:black; "><b>Nộp CV liền nha!</b></button></a><br /><br />
        @*</div>*@
    </div>
</div>
</div>

